<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LLamaSharp" version="0.7.0" manuallyInstalled="true" />
  <package id="LLamaSharp.Backend.Cpu" version="0.7.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" />
  <package id="System.Linq.Async" version="6.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.3" />
</packages>